@page "/Formulario"
@rendermode InteractiveServer

<h3>Cadastro de Clientes</h3>


<div class="row">

    <div class="col-md-4">
        <label for="txtNome">Nome</label>
        <input type="text" class="form-control" id="txtNome" />
    </div>
    <div class="col-md-2">
        <label for="txtTelefone">Telefone</label>
        <input type="tel" class="form-control" id="txtTelefone" />
    </div>
    <div class="col-md-6">
        <label for="txtEmail">Email</label>
        <input type="email" class="form-control" id="txtEmail" />
    </div>
    <div class="col-md-11">
        <label for="txtEndereco">Endereco</label>
        <input type="text" class="form-control" id="txtEndereco" />
    </div>
    <div class="col-md-1">
        <label for="txtNumero">Numero</label>
        <input type="text" class="form-control" id="txtNumero" />
    </div>
</div>
<div class="row">

<div class="col-md-5">
        <label for="txtBairro">Bairro</label>
        <input type="text" class="form-control" id="txtBairro" />
    </div>

<div class="col-md-4">
        <label for="txtCidade">Cidade</label>
        <input type="text" class="form-control" id="txtCidade" />
</div>
<div class="col-md-1">
        <label for="txtEstado">Estado</label>
        <input type="text" class="form-control" id="txtEstado" />
</div>
<div class="col-md-2">
        <label for="txtCep">Cep</label>
        <input type="text" class="form-control" id="txtCep" />
</div>

</div>

<div class="row">

    <div class="col-md-2 mt-3">
        <button class="btn btn-primary">Salvar</button>
    </div>
     <div class="col-md-2 mt-3">
        <button class="btn btn-warning">Cancelar</button>
    </div>
</div>

@code {

}